html,
body {
  padding: 0;
  max-width: 80%;
  margin: auto;
}

.team-main {
  background: url("imgs/photoshop/design-assets/bgk-header.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
}

.team-heading {
  text-align: center;
  padding-top: 2em;
  padding-bottom: 3em;
}

.team-container {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  column-gap: 2%;
  padding-left: 15%;
  padding-right: 15%;
  /*   grid-template-rows: repeat(2 1fr); */
  justify-content: center;
}

.square-white {
  border: 1px solid white;
  /*   height: fit-content; */
  display: flex;
  flex-direction: column;

  /*   height: 58%;

  width: 10em; */
}

.upper-part {
  height: 60px;
  background-color: white;
}

.square-text {
  text-align: center;
}
.square-text h4,
p {
  font-size: 0.5em;
}

.team-bottom {
  margin-top: 5em;
  text-align: center;
}

.team-button {
  font-size: 0.5em;
  width: 15%;
  background: transparent;
  padding: 5px;
  margin-bottom: 2em;
  color: #01ddfa;
  border: 2px solid #01ddfa;
  border-radius: 1px;
}

.contact-main {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@media screen and (max-width: 700px) {
  .contact-main {
    display: flex;
    flex-direction: column;
  }
}

.contact-container {
  margin-top: 1em;
  margin-bottom: 1em;
  text-align: left;
}

.contact-form {
  opacity: 55%;
  /*  width: 20em; */
  box-sizing: border-box;
  margin: 2em;

  margin-left: 0;
}

.contact-form input {
  /*  width: 23em; */
  margin: 1em;
  margin-left: 0;
  margin-top: 1em;
}

.contact-button {
  width: 35%;
  margin-top: 1em;
  margin-left: 0;
  background-color: white;
  color: #01ddfa;
  border: 2px solid #01ddfa;
  border-radius: 1px;
  padding: 5px;
}
.logos {
  margin-top: 1em;
  margin-bottom: 1em;
  text-align: center;
}

.logo-images {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}

.logo-images img {
  margin-top: 1em;
  width: 50px;
  padding: 0.5em;
}
