body {
  padding: 0;
  max-width: 80%;
  margin: auto;
}

.story-main-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  margin-left: 20%;
  margin-bottom: 5em;
}

.story-main-container h1 {
}

.story-main-container .logo-img {
  margin-top: 3%;
  margin-right: 3%;
}

.logo-img img {
  max-width: 7.1em;
}

.ourstory-paragraph-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.ourstory-paragraph-button p {
  max-width: 50%;
}

.ourstory-paragraph-button button {
  margin-top: 20%;
  color: aqua;
  border-color: aqua;
}

.video-container {
  display: flex;
  background: url("./imgs/photoshop/design-assets/bgk-middle.png") no-repeat;
  min-height: 500px;
  background-size: 100%;
  justify-content: center;
  align-items: center;
}

.video-container h2 {
  color: white;
  margin-left: 0;
}

.expertise-main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.expertise-title {
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.expertise-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 3px;
}

.expertise-grid-with-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.expertise-grid-with-text p {
  font-size: small;
  max-width: 15em;
}

.expertise-grid-with-text a {
  text-decoration: none;
  color: black;
  margin-top: 10%;
  font-size: 70%;
  font-weight: bold;
}

.team-main {
  background: url("imgs/photoshop/design-assets/bgk-header.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
}

.team-heading {
  text-align: center;
  padding-top: 2em;
}

.team-container {
  display: grid;
  grid-template-columns: 15% 15% 15% 15%;
  grid-template-rows: 60%;
  flex-flow: row;
  justify-content: space-around;
  padding-top: 5em;
}

.square-white1 {
  background-color: white;
}

.square-white2 {
  background-color: white;
  order: -1;
}

.square-white3 {
  background-color: white;
  order: -1;
}
.square-white4 {
  background-color: white;
  order: -1;
}

.square1-text {
  border: 2px solid white;
  border-top: none;
  margin-bottom: 3em;
  text-align: center;
}
.square2-text {
  border: 2px solid white;
  border-top: none;
  margin-bottom: 3em;
  text-align: center;
}
.square3-text {
  border: 2px solid white;
  border-top: none;
  margin-bottom: 3em;
  text-align: center;
}

.square4-text {
  border: 2px solid white;
  border-top: none;
  margin-bottom: 3em;
  text-align: center;
}

.team-bottom {
  margin-top: 5em;
  text-align: center;
}

.team-button {
  margin-bottom: 1em;
}

.contact-main {
  display: grid;
  grid-template-columns: 50% 50%;
}
.logos img {
  width: 5em;
  padding: 1em;
}

.logos h3 .logo-images {
  display: grid;
  grid-template-columns: 20% 20%;
  justify-content: space-around;
}
